@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @layer utilities {
  .fade-in-animation {
    animation: fade-in 500ms forwards ease-in;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

:root {
  --highlight-orange: #f2cb91;
  --primary-orange: #e59623;
  --primary-green: #223e29;
  --matte-purple: #2c2b4b;
  --normal-grey: #e9e9e9;
  --light-grey: #f3e4e4;
}

body {
  overflow-x: hidden;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: var(--matte-purple);
}

.hover-shadow:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.02) 0px 2px 4px -1px;
}

.translate-gradient {
  background-size: 200%;
  background-position: 100% 100%;
  transition: 0.2s ease;
}

.translate-gradient:hover {
  cursor: pointer;
  background-position: 0% 0%;
}

.btn-translate:hover .btn-translate-child {
  --tw-translate-x: 0.5rem /* 8px */;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.container-blog {
  width: 100%;
  margin-inline: auto;
}

@media (min-width: 640px) {
  .container-blog {
    max-width: 490px;
  }
}

@media (min-width: 768px) {
  .container-blog {
    max-width: 618px;
  }
}
@media (min-width: 1024px) {
  .container-blog {
    max-width: 874px;
  }
}

@media (min-width: 1280px) {
  .container-blog {
    max-width: 1030px;
  }
}

@keyframes expandBackground {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes expandBackground {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.hover-highlight {
  position: relative;
  z-index: 1;
}

.hover-highlight:hover::after {
  content: "";
  display: inline-block;
  height: 13px;
  background-color: var(--highlight-orange);
  padding: 0 4px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -6px;
  z-index: -1;
  animation: expandBackground 0.6s ease-out forwards;
}

.highlight {
  position: relative;
  z-index: 0;
  width: fit-content;
  padding-bottom: 4px;
}

.highlight::after {
  content: "";
  display: inline-block;
  height: 25%;
  background-color: var(--primary-orange);
  position: absolute;
  width: 75%;
  left: 0;
  bottom: 5px;
  z-index: -1;
  animation: expandBackground 1s ease-out forwards;
}

.highlight-dark {
  position: relative;
  z-index: 1;
}
.highlight-dark::after {
  content: "";
  display: inline-block;
  height: 20%;
  background-color: #606061;
  padding: 0 4px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5px;
  z-index: -1;
  animation: expandBackground 1s ease-out forwards;
}
/*  */
.transparent-background {
  background: transparent !important;
}

@keyframes sidebarAnimate {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(75%);
  }
  50% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes loginAnimation {
  0% {
    top: 0px;
    transform: translate(-50%, -50%);
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 768px) {
  .md-hexagon {
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 10% 75%, 10% 25%);
  }
}

.slick-dots {
  bottom: -40px !important;
}

.slick-dots li button:before {
  font-size: 11px !important;
  color: #ffbb4d !important;
  width: 31px !important;
  height: 31px !important;
}

.spinner_main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}
.spinner_main img {
  width: 280px;
  height: 200px;
  object-fit: contain;
}
.spinner_main {
  animation: spin 5s;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: scale(0.8, 0.8);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.8, 0.8);
  }
}

.spinner {
  animation: spinner 1s linear infinite; /* Speed and type of the animation */
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.clamp-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.clamp-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.clamp-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.back-to-top-button {
  position: fixed;
  bottom: 56px;
  right: 25px;
  display: none;
  padding: 15px;
  background-color: #ffbb4d;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 999;
  /* box-shadow: 0 2px 5px #b3b3b3; */
  transition: 0.5s;
}
.back-to-top-button:hover {
  background-color: rgb(165, 163, 163);
}
.back-to-top-button.visible {
  display: block;
}
/* Add unique styles or animations not covered by Tailwind here */
@keyframes first {
  0% {
    width: 0%;
  }
  50% {
    width: 80%;
  }
  100% {
    width: 50%;
  }
}

.m-5 {
  margin: 1rem;
}

input,
textarea,
select {
  background: #f5f5f5 !important;
  /* color:#D4D4D4!important; */
}

.shadow-cus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.table-of-contents {
  margin-bottom: 20px;
}

.table-of-contents ul {
  list-style-type: none;
  padding-left: 0;
}

.table-of-contents li {
  margin: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  /* margin: 20px 0; */
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

/*  */

/* rich text */
.rich-text-container h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1rem;
  font-weight: 700;
}
.rich-text-container p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}
.rich-text-container a {
  text-decoration: underline !important;
  color: blueviolet;
}

.rich-text-container {
  margin-inline: auto;
  font-size: 16px;
  line-height: 24px;
  border-radius: 12px;
  font-family: sans-serif;
}

.rich-text-container strong {
  font-weight: 700;
}

.rich-text-container h1 {
  line-height: 34px;
}

.rich-text-container h1,
.rich-text-container h2,
.rich-text-container h3,
.rich-text-container h4,
.rich-text-container h5,
.rich-text-container h6 {
  margin-top: 42px;
  margin-bottom: 8px;
  color: #2c2b4b;
}

.rich-text-container > table {
  overflow-x: scroll;
}
@media screen and (max-width: 768px) {
  .rich-text-container h1,
  .rich-text-container h2,
  .rich-text-container h3,
  .rich-text-container h4,
  .rich-text-container h5,
  .rich-text-container h6 {
    margin-top: 18px;
  }
}

.rich-text-container img {
  margin-inline: auto;
  margin-block: 1.2rem;
  border-radius: 12px;
  box-shadow: 0 0 12px 6px #00000010;
}

.rich-text-container h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center !important;
}

.rich-text-container h2 {
  font-size: 28px;
  font-weight: 700;
}

.rich-text-container h3 {
  font-size: 24px;
  font-weight: 700;
}

.rich-text-container h4 {
  font-size: 20px;
  font-weight: 700;
}

.rich-text-container h5 {
  font-size: 18px;
  font-weight: 700;
}

.rich-text-container p {
  font-size: 18px;
  margin-bottom: 16px;
  margin-top: 8px;
  line-height: 24px;
}

.rich-text-container ul,
.rich-text-container li {
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 24px;
}

.styled-ul,
.rich-text-container ul {
  list-style-image: url("/assets/bullet-point.svg");
}

.rich-text-container ol {
  list-style: decimal;
}

.rich-text-container ul > li::first-letter,
.rich-text-container ol > li::first-letter {
  text-transform: capitalize;
}

.styled-ul,
.rich-text-container ul > li,
.rich-text-container ol > li {
  padding-left: 8px;
  margin-left: 32px !important;
}

.rich-text-container table {
  border-collapse: collapse;
}

.rich-text-container table td,
.rich-text-container table th {
  padding: 8px;
}

.rich-text-container table,
.rich-text-container th,
.rich-text-container td {
  border: 1px solid #e59623;
}

.rich-text-container table thead tr th,
.rich-text-container table thead tr td {
  background: #e59623;
  color: #eff3f5;
  font-weight: 600;
}
/* .rich-text-container table thead{
  background: #e59623;
  color: #eff3f5;
  font-weight: 600;
} */
/*  */
.gs-image-box,
.gs-web-image-box {
  display: none;
}
.gcsc-branding,
.gsc-above-wrapper-area {
  display: none;
}

.gsc-control-cse.gsc-control-cse-en {
  background: none;
  border: none;
}

.gsc-control-cse.gsc-control-cse-en td.gsc-search-button,
.gsc-control-cse.gsc-control-cse-en .gsc-input-box,
.gsc-control-cse.gsc-control-cse-en td.gsc-input {
  border: none;
  margin: 0;
  padding: 0;
}

.gsc-control-cse.gsc-control-cse-en td.gsc-search-button {
  margin-left: 1rem;
}

.ico-pri i {
  filter: invert(78%) sepia(30%) saturate(5149%) hue-rotate(347deg)
    brightness(96%) contrast(86%);
}

.text-base a {
  color: blue !important;
}

@layer utilities {
  .animate-shimmer {
    background: linear-gradient(90deg, #e0e0e0 25%, #f8f8f8 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
  }

  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }
}

@media (max-width: 1280px) {
  .custom-1280-text {
    font-size: 11px;
  }
}

@media (max-width: 1023px) {
  .custom-1280-text {
    font-size: 16px;
  }
  .sm-py-10 {
    padding-block: 10px;
  }
}
